## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_trimmed = application_df.copy()
application_df_trimmed = application_df_trimmed.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
application_df_trimmed.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df_trimmed['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# create a list of application types to be replaced for values less than 500
# use the variable name `application_types_to_replace`
application_types_to_replace = []
for i in range(len(app_type_count)):
    if app_type_count[i] < 500:
        application_types_to_replace.append(app_type_count.index[i])

# Replace in dataframe
for app in application_types_to_replace:
    application_df_trimmed['APPLICATION_TYPE'] = application_df_trimmed['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_trimmed['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df_trimmed['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count.loc[lambda x : x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for i in range(len(classification_count)):
    if classification_count[i] < 500:
        classifications_to_replace.append(classification_count.index[i])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df_trimmed['CLASSIFICATION'] = application_df_trimmed['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_trimmed['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
# (AFFILIATION, USE_CASE, CLASSIFICATION, USE_CASE, ORGANIZATION, INCOME_AMT SPECIAL_CONSIDERATIONS)
application_df_noncat = pd.get_dummies(data=application_df_trimmed, columns=['APPLICATION_TYPE', 'AFFILIATION', 
                                                     'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 
                                                     'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
application_df_noncat.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df_noncat['IS_SUCCESSFUL']
X = application_df_noncat.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=4, activation="tanh", input_dim=44))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 4)                 180

 dense_1 (Dense)             (None, 4)                 20

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 205 (820.00 Byte)
Trainable params: 205 (820.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model 
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model over 100 epohcs
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6286 - accuracy: 0.6460
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5692 - accuracy: 0.7225
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7263
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5588 - accuracy: 0.7280
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5574 - accuracy: 0.7275
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7275
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7284
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7282
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7283
Epoch 10/100
804/804 [==============================] - 1s 947us/step - loss: 0.5539 - accuracy: 0.7283
Epoch 11/100
804/804 [==============================] - 1s 962us/step - loss: 0.5535 - accuracy: 0.7277
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7285
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7289
Epoch 14/100
804/804 [==============================] - 1s 994us/step - loss: 0.5522 - accuracy: 0.7291
Epoch 15/100
804/804 [==============================] - 1s 886us/step - loss: 0.5521 - accuracy: 0.7296
Epoch 16/100
804/804 [==============================] - 1s 909us/step - loss: 0.5519 - accuracy: 0.7290
Epoch 17/100
804/804 [==============================] - 1s 890us/step - loss: 0.5514 - accuracy: 0.7284
Epoch 18/100
804/804 [==============================] - 1s 949us/step - loss: 0.5515 - accuracy: 0.7293
Epoch 19/100
804/804 [==============================] - 1s 937us/step - loss: 0.5511 - accuracy: 0.7295
Epoch 20/100
804/804 [==============================] - 1s 875us/step - loss: 0.5509 - accuracy: 0.7302
Epoch 21/100
804/804 [==============================] - 1s 965us/step - loss: 0.5508 - accuracy: 0.7297
Epoch 22/100
804/804 [==============================] - 1s 923us/step - loss: 0.5510 - accuracy: 0.7300
Epoch 23/100
804/804 [==============================] - 1s 922us/step - loss: 0.5501 - accuracy: 0.7296
Epoch 24/100
804/804 [==============================] - 1s 970us/step - loss: 0.5502 - accuracy: 0.7300
Epoch 25/100
804/804 [==============================] - 1s 931us/step - loss: 0.5497 - accuracy: 0.7307
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7299
Epoch 27/100
804/804 [==============================] - 1s 980us/step - loss: 0.5496 - accuracy: 0.7303
Epoch 28/100
804/804 [==============================] - 1s 914us/step - loss: 0.5494 - accuracy: 0.7299
Epoch 29/100
804/804 [==============================] - 1s 933us/step - loss: 0.5492 - accuracy: 0.7303
Epoch 30/100
804/804 [==============================] - 1s 922us/step - loss: 0.5492 - accuracy: 0.7297
Epoch 31/100
804/804 [==============================] - 1s 895us/step - loss: 0.5491 - accuracy: 0.7302
Epoch 32/100
804/804 [==============================] - 1s 946us/step - loss: 0.5489 - accuracy: 0.7302
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7312
Epoch 34/100
804/804 [==============================] - 1s 950us/step - loss: 0.5485 - accuracy: 0.7308
Epoch 35/100
804/804 [==============================] - 1s 951us/step - loss: 0.5489 - accuracy: 0.7306
Epoch 36/100
804/804 [==============================] - 1s 904us/step - loss: 0.5486 - accuracy: 0.7305
Epoch 37/100
804/804 [==============================] - 1s 895us/step - loss: 0.5484 - accuracy: 0.7314
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7314
Epoch 39/100
804/804 [==============================] - 1s 993us/step - loss: 0.5484 - accuracy: 0.7315
Epoch 40/100
804/804 [==============================] - 1s 990us/step - loss: 0.5483 - accuracy: 0.7313
Epoch 41/100
804/804 [==============================] - 1s 923us/step - loss: 0.5484 - accuracy: 0.7307
Epoch 42/100
804/804 [==============================] - 1s 983us/step - loss: 0.5482 - accuracy: 0.7312
Epoch 43/100
804/804 [==============================] - 1s 931us/step - loss: 0.5481 - accuracy: 0.7315
Epoch 44/100
804/804 [==============================] - 1s 913us/step - loss: 0.5479 - accuracy: 0.7315
Epoch 45/100
804/804 [==============================] - 1s 918us/step - loss: 0.5482 - accuracy: 0.7310
Epoch 46/100
804/804 [==============================] - 1s 969us/step - loss: 0.5480 - accuracy: 0.7311
Epoch 47/100
804/804 [==============================] - 1s 948us/step - loss: 0.5479 - accuracy: 0.7310
Epoch 48/100
804/804 [==============================] - 1s 958us/step - loss: 0.5479 - accuracy: 0.7315
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7313
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7305
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7314
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7307
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7312
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7315
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7308
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7320
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7326
Epoch 58/100
804/804 [==============================] - 1s 918us/step - loss: 0.5476 - accuracy: 0.7321
Epoch 59/100
804/804 [==============================] - 1s 893us/step - loss: 0.5474 - accuracy: 0.7318
Epoch 60/100
804/804 [==============================] - 1s 947us/step - loss: 0.5474 - accuracy: 0.7320
Epoch 61/100
804/804 [==============================] - 1s 941us/step - loss: 0.5475 - accuracy: 0.7311
Epoch 62/100
804/804 [==============================] - 1s 890us/step - loss: 0.5473 - accuracy: 0.7318
Epoch 63/100
804/804 [==============================] - 1s 932us/step - loss: 0.5474 - accuracy: 0.7316
Epoch 64/100
804/804 [==============================] - 1s 987us/step - loss: 0.5472 - accuracy: 0.7321
Epoch 65/100
804/804 [==============================] - 1s 907us/step - loss: 0.5473 - accuracy: 0.7318
Epoch 66/100
804/804 [==============================] - 1s 932us/step - loss: 0.5473 - accuracy: 0.7318
Epoch 67/100
804/804 [==============================] - 1s 928us/step - loss: 0.5473 - accuracy: 0.7324
Epoch 68/100
804/804 [==============================] - 1s 931us/step - loss: 0.5472 - accuracy: 0.7319
Epoch 69/100
804/804 [==============================] - 1s 933us/step - loss: 0.5472 - accuracy: 0.7318
Epoch 70/100
804/804 [==============================] - 1s 977us/step - loss: 0.5472 - accuracy: 0.7322
Epoch 71/100
804/804 [==============================] - 1s 990us/step - loss: 0.5471 - accuracy: 0.7316
Epoch 72/100
804/804 [==============================] - 1s 915us/step - loss: 0.5471 - accuracy: 0.7315
Epoch 73/100
804/804 [==============================] - 1s 893us/step - loss: 0.5471 - accuracy: 0.7324
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7318
Epoch 75/100
804/804 [==============================] - 1s 929us/step - loss: 0.5468 - accuracy: 0.7318
Epoch 76/100
804/804 [==============================] - 1s 943us/step - loss: 0.5471 - accuracy: 0.7312
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7322
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7312
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7315
Epoch 80/100
804/804 [==============================] - 1s 991us/step - loss: 0.5469 - accuracy: 0.7318
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7319
Epoch 82/100
804/804 [==============================] - 1s 953us/step - loss: 0.5469 - accuracy: 0.7311
Epoch 83/100
804/804 [==============================] - 1s 930us/step - loss: 0.5469 - accuracy: 0.7317
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7315
Epoch 85/100
804/804 [==============================] - 1s 921us/step - loss: 0.5469 - accuracy: 0.7318
Epoch 86/100
804/804 [==============================] - 1s 955us/step - loss: 0.5469 - accuracy: 0.7317
Epoch 87/100
804/804 [==============================] - 1s 978us/step - loss: 0.5466 - accuracy: 0.7325
Epoch 88/100
804/804 [==============================] - 1s 962us/step - loss: 0.5469 - accuracy: 0.7316
Epoch 89/100
804/804 [==============================] - 1s 941us/step - loss: 0.5468 - accuracy: 0.7321
Epoch 90/100
804/804 [==============================] - 1s 927us/step - loss: 0.5467 - accuracy: 0.7318
Epoch 91/100
804/804 [==============================] - 1s 963us/step - loss: 0.5467 - accuracy: 0.7314
Epoch 92/100
804/804 [==============================] - 1s 947us/step - loss: 0.5467 - accuracy: 0.7309
Epoch 93/100
804/804 [==============================] - 1s 930us/step - loss: 0.5467 - accuracy: 0.7315
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7313
Epoch 95/100
804/804 [==============================] - 1s 957us/step - loss: 0.5465 - accuracy: 0.7320
Epoch 96/100
804/804 [==============================] - 1s 974us/step - loss: 0.5466 - accuracy: 0.7315
Epoch 97/100
804/804 [==============================] - 1s 990us/step - loss: 0.5467 - accuracy: 0.7315
Epoch 98/100
804/804 [==============================] - 1s 913us/step - loss: 0.5466 - accuracy: 0.7321
Epoch 99/100
804/804 [==============================] - 1s 902us/step - loss: 0.5464 - accuracy: 0.7318
Epoch 100/100
804/804 [==============================] - 1s 901us/step - loss: 0.5467 - accuracy: 0.7311

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5566 - accuracy: 0.7276 - 362ms/epoch - 1ms/step
Loss: 0.556568443775177, Accuracy: 0.727580189704895

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE